
.about{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../../images/svg.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    position:relative;

}
.spacer{
    margin-top: 10px;
    margin-bottom: 10px;
}
.spacer.icons{
    margin-top: 20px;
    margin-bottom: 10px;
}
.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.about-right{
    flex: 1;
}
.about-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.about-card.bg{
    position: absolute;
    top: 50px;
    left:50px;
    width: 50%;


}
.about-image{
    width: 80%;
    height: 100%;
    object-fit: inherit;
    border-radius: inherit;
}

.about-title{
    font-size:60px;
    margin-bottom: 40px;
}

.about-sub{
    font-size: 35px;
    font-weight: 800;
    /* font-style: italic; */
    width: 80%;
    margin-bottom: 15px;
}
.about-description{
    font-size: 20px;
    font-weight: 400;
    width: 60%;
    
    text-shadow: 10px;
    font-family: 'Nunito', sans-serif;
    /* font-style: italic; */
}
.desc-not-coding{
    font-size: 22px;
    margin-top: 10px;
    
}
.social-handles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 50%;
    width: 40%;
    margin-top: 10px;
}
.social-handles-items{
    display: flex;
    border-radius: 50%;
}
.social-handles-images{
    display: flex;
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: 0.5px solid white;
}
@media screen and (max-width:900px) {
    .about{
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        height: auto;
        align-items: center;
        /* margin-top: 50px; */
        background-image:none;
    }
    .about-left{
        width: 100%;
    }
    .about-card{
        height: 30vh;
    }
    .about-card.bg{
        display: none;
    }
    .about-right{
        height: 30vh;
        padding: 20px;
    }
    .about-description{
        font-size: 20px;
        font-weight: 400;
        width: 100%;
        
        text-shadow: 10px;
        font-family: 'Nunito', sans-serif;
        /* font-style: italic; */
    }
    .about-sub{
        font-size: 35px;
        font-weight: 800;
        /* font-style: italic; */
        width: 100%;
        margin-bottom: 15px;
    }
    .spacer.icons{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .social-handles-images{
        display: flex;
        width:40px;
        height: 40px;
    
    }
    .social-handles{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 50%;
        width: 100%;
        margin-top: 10px;
    }
    .about-image{
        border-radius: 50%;
        object-fit:contain;
    }
}
